.caixa{
    /* border: 1px solid #dddd; */
    transition: 0.5s;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.caixa:hover{
    background: rgba(109, 235, 203, 0.867);
    cursor: pointer;
}